@page
@using Core.Extensions
@model PageModels.StandardShiftModel

@{
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.item.name, Model)
            @Html.TableSortHeader(x => x.item.startTime, Model)
            @Html.TableSortHeader(x => x.item.endTime, Model)
            <th>@Html.DisplayNameFor(model => model.items[0].locationName)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].occupationName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.items)
    {
        <tr>
            @Html.RowData(x => item.name)
            @Html.RowData(x => item.startTime)
            @Html.RowData(x => item.endTime)
            <td>@Html.DisplayFor(modelItem => item.locationName)</td>
            <td>@Html.DisplayFor(modelItem => item.occupationName)</td>
            @Html.RowButtons(Model.PageUrl, $"{item.id}")
        </tr>
    }
    </tbody>
</table>