@page
@model Soft.Pages.OccupationAssignment.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OccupationAssignmentData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationAssignmentData.workerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationAssignmentData.workerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationAssignmentData.occupationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationAssignmentData.occupationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationAssignmentData.validFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationAssignmentData.validFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationAssignmentData.validTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationAssignmentData.validTo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OccupationAssignmentData.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
