@page
@model Soft.Pages.OccupationAssignment.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OccupationAssignmentData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationAssignmentData.workerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationAssignmentData.workerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationAssignmentData.occupationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationAssignmentData.occupationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationAssignmentData.validFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationAssignmentData.validFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationAssignmentData.validTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OccupationAssignmentData.validTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OccupationAssignmentData.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
