@page
@model Soft.Pages.OccupationAssignment.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OccupationAssignmentData[0].workerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupationAssignmentData[0].occupationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupationAssignmentData[0].validFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupationAssignmentData[0].validTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OccupationAssignmentData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.workerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.occupationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.validFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.validTo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
