@page
@using Core.Extensions
@model PageModels.DepartmentModel

@{
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.item.name, Model)
            <th>@Html.DisplayNameFor(model => model.items[0].fullAddress)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].email)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].phoneNumber)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
        <tr>
            @Html.RowData(x => item.name)
            <td>@Html.DisplayFor(modelItem => item.fullAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.email)</td>
            <td>@Html.DisplayFor(modelItem => item.phoneNumber)</td>
            @Html.RowButtons(Model.PageUrl, $"{item.id}")
        </tr>
        }
    </tbody>
</table>
