@page
@using Core.Extensions
@model PageModels.RequirementModel

@{
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.items[0].locationId)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].occupationId)</th>
            <th>@Html.TableSortHeader(x => x.item.weekDayId, Model)</th>
            <th>@Html.TableSortHeader(x => x.item.startTime, Model)</th>
            <th>@Html.TableSortHeader(x => x.item.endTime, Model)</th>
            <th>@Html.TableSortHeader(x => x.item.minEmployees, Model)</th>
            <th>@Html.TableSortHeader(x => x.item.maxEmployees, Model)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.items) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.locationName)</td>
            <td>@Html.DisplayFor(modelItem => item.occupationName)</td>
            <td>@Html.RowData(x => item.weekDayName)</td>
            <td>@Html.RowData(x => item.startTime)</td>
            <td>@Html.RowData(x => item.endTime)</td>
            <td>@Html.RowData(x => item.minEmployees)</td>
            <td>@Html.RowData(x => item.maxEmployees)</td>
            <td>@Html.RowButtons(Model.PageUrl, $"{item.id}")</td>
        </tr>
}
    </tbody>
</table>
