@page
@using Core.Extensions
@model PageModels.ContractModel

@{
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.items[0].personName)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].occupationName)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].departmentName)</th>
            <th>@Html.TableSortHeader(x => x.item.validFrom, Model)</th>
            <th>@Html.TableSortHeader(x => x.item.validTo, Model)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.items)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.personName)</td>
            <td>@Html.DisplayFor(modelItem => item.occupationName)</td>
            <td>@Html.DisplayFor(modelItem => item.departmentName)</td>
            <td>@Html.RowData(x => item.validFrom)</td>
            <td>@Html.RowData(x => item.validTo)</td>
            <td>@Html.RowButtons(Model.PageUrl, $"{item.id}")</td>
</tr>
    }
    </tbody>

</table>
