@page
@model PageModels.ShiftAssignmentModel

@{
    Layout = "_Index";
}

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.item.workerName)</th>
        <th>@Html.DisplayNameFor(model => model.item.locationName)</th>
        <th>@Html.DisplayNameFor(model => model.item.startTime)</th>
        <th>@Html.DisplayNameFor(model => model.item.endTime)</th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.items)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.workerName)</td>
            <td>@Html.DisplayFor(modelItem => item.locationName)</td>
            <td>@Html.DisplayFor(modelItem => item.startTime)</td>
            <td>@Html.DisplayFor(modelItem => item.endTime)</td>
            <td>
                <a asp-page="./Edit" asp-route-handler="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-handler="Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-handler="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>