@page
@using Core.Extensions
@model PageModels.ContactModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-route-handler="Create" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.items[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.items[0].phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.items[0].fullAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-handler="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-handler="Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-handler="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
