@page
@model Soft.Pages.Address.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddressData[0].apartmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressData[0].streetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressData[0].houseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressData[0].city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressData[0].zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressData[0].region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressData[0].country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AddressData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.apartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.streetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.houseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
