@page
@model PageModels.PartyContactModel

@{
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.items[0].id)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].partyId)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].fullAddress)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].contacts)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.id)</td>
            <td>@Html.DisplayFor(modelItem => item.partyId)</td>
            <td>@Html.DisplayFor(modelItem => item.fullAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.contacts)</td>
            <td>
                <a asp-page="./Edit" asp-route-handler="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-handler="Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-handler="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
