@page
@model Soft.Pages.Worker.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].personId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].occupationAssignmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].departmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].roleAssignmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].idCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].dateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerData[0].contactId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkerData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.personId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.occupationAssignmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleAssignmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
