@page
@model PageModels.WorkerModel

@{
    Layout = "_Index";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.items[0].firstName)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].lastName)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].dateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].departmentId)</th>
            <th>@Html.DisplayNameFor(model => model.items[0].idCode)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.firstName)</td>
                <td>@Html.DisplayFor(modelItem => item.lastName)</td>
                <td>@Html.DisplayFor(modelItem => item.dateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => item.departmentId)</td>
                <td>@Html.DisplayFor(modelItem => item.idCode)</td>
                <td>
                    <a asp-page="./Edit" asp-route-handler="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-page="./Details" asp-route-handler="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-page="./Delete" asp-route-handler="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>