@using Core.Extensions
@model PageModels.PersonModel
<table>
    <tr>
        <td>
            @Html.Editor(model => model.item.firstName)
            @Html.Editor(model => model.item.lastName)
            @Html.Editor(model => model.item.dateOfBirth)
            @Html.Editor(model => model.item.idCode)

            @Html.Editor(model => model.item.email)
            @Html.Editor(model => model.item.phoneNumber)
        </td>
        <td>
            @Html.Editor(model => model.item.streetName)
            @Html.Editor(model => model.item.houseNumber)
            @Html.Editor(model => model.item.apartmentNumber)
            @Html.Editor(model => model.item.zipCode)
            @Html.Editor(model => model.item.city)
            @Html.Editor(model => model.item.region)
            @Html.Editor(model => model.item.country)
        </td>
    </tr>
</table>

<input type="hidden" asp-for="item.contactId" />
<input type="hidden" asp-for="item.addressId" />
<input type="hidden" asp-for="item.partyContactId" />